apiVersion: v1
kind: Secret
metadata:
  name: game-lib-secrets
  namespace: gamelibrarymanager
type: Opaque
data:
  db-user: YOUR_DB_USER_BASE64
  db-pass: YOUR_DB_PASS_BASE64
  db-name: YOUR_DB_NAME_BASE64
